TUURIO_ISSUER=https://test.id.tuurio.com
TUURIO_CLIENT_ID=php-KQD8
TUURIO_CLIENT_SECRET=
TUURIO_REDIRECT_URI=http://localhost:8080/auth/callback
TUURIO_POST_LOGOUT_REDIRECT_URI=http://localhost:8080/
TUURIO_SCOPE=openid profile email
