NEXT_PUBLIC_TUURIO_ISSUER=https://test.id.tuurio.com
NEXT_PUBLIC_TUURIO_CLIENT_ID=spa-K53I
NEXT_PUBLIC_TUURIO_REDIRECT_URI=http://localhost:3000/auth/callback
NEXT_PUBLIC_TUURIO_POST_LOGOUT_REDIRECT_URI=http://localhost:3000/logout/callback
NEXT_PUBLIC_TUURIO_SCOPE=openid profile email
