NUXT_TUURIO_ISSUER=https://YOUR_TENANT.id.tuurio.com
NUXT_TUURIO_CLIENT_ID=YOUR_CLIENT_ID
NUXT_TUURIO_CLIENT_SECRET=
NUXT_TUURIO_REDIRECT_URI=http://localhost:3000/auth/callback
NUXT_TUURIO_POST_LOGOUT_REDIRECT_URI=http://localhost:3000/logout/callback
NUXT_TUURIO_SCOPE=openid profile email
